In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

plt.rc('font', family='Malgun Gothic')

In [2]:
import os

In [16]:
file_list = os.listdir('../../빅데이터 캠퍼스 분석결과보고서')
file_list

['.ipynb_checkpoints',
 'the_day2019-11-25 14-02-42.txt',
 'w1_after2019-11-25 13-57-35.csv',
 'w1_before2019-11-25 13-34-25.txt',
 'w2_after2019-11-25 14-12-15.csv',
 'w2_before2019-11-25 13-48-35.txt',
 '분석결과요약서.odt',
 '분석일자 추가 및 유동인구 데이터 추출 쿼리 - 수정.ipynb']

In [21]:
path = '../../빅데이터 캠퍼스 분석결과보고서/'

In [22]:
tmp = pd.DataFrame()
for period, file in zip(['d-day', 'a1', 'b1', 'a2', 'b2'], [i for i in file_list if ('txt' in i)|('csv' in i)]):
    if 'txt' in file:
        a = pd.read_csv(path+file, sep='|')
    else:
        a = pd.read_csv(path+file)
    a['분석기준일'] = period
    tmp = pd.concat([tmp, a])

In [24]:
tmp.shape

(365, 16)

In [25]:
tmp.head()

,STD_YM,STD_YMD,festival_no,MAN_10,MAN_20,MAN_30,MAN_40,MAN_50,MAN_60,WMAN_10,WMAN_20,WMAN_30,WMAN_40,WMAN_50,WMAN_60,분석기준일
0,201509,20150904,1,1217.16,3188.45,6120.52,6131.13,4262.58,2395.04,3858.77,4269.92,3779.48,3471.84,2341.45,1530.77,d-day
1,201509,20150905,2,1173.81,4622.71,5029.26,4147.65,4495.33,3288.19,1161.59,4198.57,3599.39,3106.68,3383.26,2326.47,d-day
2,201509,20150905,3,3904.79,13869.85,11676.68,9477.21,8666.88,6744.64,5001.95,17556.91,11298.55,10515.25,8505.71,5659.74,d-day
3,201509,20150905,4,2811.10,5050.99,8213.51,8580.42,8163.06,6030.55,2885.84,5134.95,7582.51,7727.37,7748.36,5205.67,d-day
4,201509,20150915,5,1233.45,3522.80,7951.17,8868.44,6854.50,4948.63,1406.52,4622.16,5420.55,5325.78,4550.74,3201.63,d-day

In [46]:
tmp.columns.values

array(['STD_YM', 'STD_YMD', 'festival_no', 'MAN_10', 'MAN_20', 'MAN_30',
       'MAN_40', 'MAN_50', 'MAN_60', 'WMAN_10', 'WMAN_20', 'WMAN_30',
       'WMAN_40', 'WMAN_50', 'WMAN_60', '분석기준일'], dtype=object)

분석기준일 
- d-day : 축제당일
- b1, b2 : 축제 1주전, 2주전 같은 요일
- a1, a2 : 축제 1주후, 2주후 같은 요일

In [48]:
tmp[['STD_YM', 'STD_YMD', 'festival_no', '분석기준일', 'MAN_10', 'MAN_20', 'MAN_30',
       'MAN_40', 'MAN_50', 'MAN_60', 'WMAN_10', 'WMAN_20', 'WMAN_30',
       'WMAN_40', 'WMAN_50', 'WMAN_60']].to_csv("float_pop.csv", index=False)