## 예측 모델링 짜보기

### Y변수 설정

In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
import matplotlib.pyplot as plt

In [60]:
flex = pd.read_csv("C:/Users/User/Desktop/Seoul_Festival-master/Seoul_Festival-master/데이터전처리/data/유동인구/float_pop.csv")

In [8]:
theday = flex.iloc[:73,:]

In [9]:
theday_flex = theday.iloc[:,4:]

In [14]:
theday_flex.index = flex["festival_no"][:73]

In [15]:
theday_flex["total"] = theday_flex.apply(sum,axis=1).map(float)

### 나이별 비율데이터 프레임 만들기

In [16]:
fes_raio = pd.DataFrame()
for i in range(len(theday_flex)) :
    fes_raio = fes_raio.append(theday_flex.iloc[i,:]/theday_flex.iloc[i,-1])

In [17]:
fes_raio

,MAN_10,MAN_20,MAN_30,MAN_40,MAN_50,MAN_60,WMAN_10,WMAN_20,WMAN_30,WMAN_40,WMAN_50,WMAN_60,total
1,0.028594,0.074904,0.143785,0.144034,0.100138,0.056265,0.090651,0.100310,0.088789,0.081562,0.055006,0.035961,1.0
2,0.028959,0.114048,0.124078,0.102328,0.110906,0.081124,0.028658,0.103584,0.088802,0.076646,0.083469,0.057397,1.0
3,0.034593,0.122875,0.103445,0.083960,0.076781,0.059752,0.044313,0.155539,0.100095,0.093156,0.075353,0.050140,1.0
4,0.037414,0.067226,0.109318,0.114201,0.108646,0.080264,0.038409,0.068344,0.100919,0.102847,0.103127,0.069285,1.0
5,0.021301,0.060836,0.137311,0.153151,0.118372,0.085459,0.024290,0.079821,0.093609,0.091972,0.078588,0.055290,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0.016177,0.084417,0.118116,0.102135,0.090719,0.078723,0.021151,0.112746,0.118472,0.102163,0.088750,0.066430,1.0
70,0.032049,0.112043,0.089810,0.080146,0.076452,0.064985,0.041801,0.180085,0.093774,0.086360,0.077885,0.064610,1.0
71,0.047891,0.078360,0.114723,0.112933,0.086028,0.074792,0.063562,0.095892,0.097995,0.097501,0.069721,0.060601,1.0
72,0.056984,0.058115,0.109415,0.122130,0.095732,0.073811,0.051426,0.065050,0.092666,0.116795,0.084050,0.073828,1.0
73,0.030215,0.109385,0.120247,0.117932,0.085760,0.061122,0.038844,0.129261,0.098964,0.088745,0.065867,0.053660,1.0

In [18]:
fes_raio.to_csv("fes_raio.csv")

x 예측

In [19]:
from sklearn.cluster import KMeans

In [53]:
kmeans = KMeans(n_clusters=5)

In [54]:
fes_raio_age = pd.DataFrame(fes_raio.iloc[:,:6].values + fes_raio.iloc[:,6:12].values,columns=["10대","20대","30대","40대","50대","60대"])

In [55]:
kmeans.fit(fes_raio_age)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [56]:
fes_raio_age["labels"] = kmeans.labels_

In [57]:
clt_mean = fes_raio_age.groupby("labels").agg(np.mean)

In [58]:
clt_mean["원소수"] = fes_raio_age.groupby("labels")["labels"].count()

In [59]:
clt_mean

             10대       20대       30대       40대       50대       60대  원소수
labels
0       0.077407  0.213210  0.212419  0.198575  0.168164  0.130225   15
1       0.074844  0.143248  0.201602  0.222859  0.197754  0.159693   33
2       0.038785  0.166964  0.262547  0.245693  0.173760  0.112250   18
3       0.415731  0.110052  0.105664  0.159312  0.121214  0.088027    1
4       0.084310  0.322019  0.203434  0.164084  0.130594  0.095560    6

In [146]:
clt_mean.to_csv("clt_labels.csv")

적절한 클러스터 분석이 됬는지 시각화를 위해 이부분은 R studio로 진행함